---
import Contacts from "@views/basics/contacts/Contacts.astro";
import Presentation from "@views/basics/presentation/Presentation.astro";
import SocialNetworks from "@views/basics/social-networks/SocialNetworks.astro";
---

<div
  x-data="{ basics : $store.resume.basics }"
  x-init="console.log(basics)"
  class="flex flex-col text-white p-2 gap-y-3"
>
  <section class="w-full text-center py-4 border rounded flex flex-col">
    <Presentation />
  </section>
  <section class="flex flex-col">
    <Contacts />
  </section>
  <template x-if="basics.profiles.length">
    <section>
      <SocialNetworks />
    </section>
  </template>
</div>
