---
import Contacts from "@views/basics/contacts/Contacts.astro";
import Summary from "@views/basics/summary/Summary.astro";
import Presentation from "@views/basics/presentation/Presentation.astro";
import SocialNetworks from "@views/basics/social-networks/SocialNetworks.astro";
---

<div
  x-data="{ basics : $store.resume.basics }"
  class="flex flex-col text-white p-2 gap-y-3"
>
  <Presentation />
  <Summary />
  <Contacts />
  <template x-if="basics.profiles.length">
    <SocialNetworks />
  </template>
</div>
