---
import { twMerge } from "tailwind-merge";
import type { TabBodyItemProps } from "@components/tabs/props";

type Props = TabBodyItemProps;

const { class: className } = Astro.props;
---

<div
  :id="$id(tabId + '-content')"
  x-show="tabContentActive($el)"
  class={twMerge("relative", className)}
>
  <slot />
</div>
