---
import { twMerge } from "tailwind-merge";
import type { TabHeaderItemProps } from "@components/tabs/props";

type Props = TabHeaderItemProps;

const { class: className, title } = Astro.props;
---

<button
  :id="$id(tabId)"
  @click="tabButtonClicked($el);"
  type="button"
  class={twMerge(
    "relative z-[2] inline-flex items-center justify-center w-full h-8 px-3 transition-all rounded-md cursor-pointer whitespace-nowrap",
    className
  )}
>
  {title ? <span class="text-sm font-medium">{title}</span> : <slot />}
</button>
