---
import { twMerge } from "tailwind-merge";
import type { TabHeaderProps } from "@components/tabs/props";

type Props = TabHeaderProps;
const { class: className } = Astro.props;
---

<div
  x-ref="tabButtons"
  :class="direction === 'horizontal' ? 'h-full max-w-xl' : 'w-full h-10'"
  class={twMerge(
    "relative grid items-center justify-center p-1 text-gray-700 bg-slate-100 rounded-lg select-none",
    className
  )}
>
  <slot />
  <div
    x-ref="tabMarker"
    class="absolute left-0 top-0 z-[1] duration-300 ease-out"
    x-cloak
  >
    <div class="w-full h-full bg-white rounded-md border border-neutral-400 shadow-sm"></div>
  </div>
</div>
