---
import { twMerge } from "tailwind-merge";
import { ThemeColorType } from "@common/types";
import type { ProgressProps } from "@components/progress/props";

type Props = ProgressProps;
const {
  class: className,
  value = 100,
  interval,
  duration = 1000,
  themeColor,
  noAnimation = false,
  ...restProps
} = Astro.props;

const themeColorClassMap = new Map<ThemeColorType, string>([
  ["primary", "bg-primary-500"],
  ["secondary", "bg-secondary"],
  ["success", "bg-success-600"],
  ["danger", "bg-danger-600"],
  ["info", "bg-info-500"],
  ["warning", "bg-warning-500"],
]);
---

<div
  x-data={`progress(${value}, ${interval ?? duration / value}, ${noAnimation})`}
  class={twMerge(
    "relative w-full h-3 overflow-hidden rounded-full bg-neutral-100",
    className
  )}
  {...restProps}
>
  <span
    :style="`width: ${progress}%; transition-duration: ${interval}ms;`"
    class:list={[
      `absolute h-full ease-linear`,
      themeColor ? themeColorClassMap.get(themeColor) : "bg-neutral-700",
    ]}
    x-cloak></span>
</div>
