---
import Carousel from "@components/carousel/Carousel.astro";
---

<div
  x-data="{ education: $store.resume.education }"
  class="h-full border rounded overflow-hidden border-slate-900"
>
  <h2 class="text-center bg-slate-900 p-2 text-white">Educations</h2>
  <Carousel
    id="education"
    class="h-full"
    x-effect={`
        await $nextTick();
        items = [...$refs.carousel.children].slice(1);
        activeItem = items[activeIndex];
        $refs.carousel.style.height = activeItem.scrollHeight + "px";
        window.addEventListener("resize", () => {
          $refs.carousel.style.height =
            activeItem.scrollHeight + "px";
        });
    `}
  >
    <template x-for="slide in education">
      <div
        class="min-w-full h-full flex flex-col gap-y-2 items-center px-2 pt-2 pb-8"
      >
        <h3 class="flex gap-x-2">
            <span x-text="`(${slide.studyType})`"></span>
            <span x-text="slide.area"></span>
        </h3>
        <p class="flex items-center gap-x-2">
          <span>Institution:</span>
          <span x-text="slide.institution"></span>
        </p>
        <div class="text-sm flex gap-x-2">
          <p>Courses:</p>
          <ul>
            <template x-for="course in slide.courses">
              <li>
                <span x-text="`- ${course}`"></span>
              </li>
            </template>
          </ul>
        </div>
      </div>
    </template>
  </Carousel>
</div>
