---
import Basics from "@views/basics/Basics.astro";
import Educations from "@views/educations/Educations.astro";
import Interests from "@views/interests/Interests.astro";
import Languages from "@views/languages/Languages.astro";
import Skills from "@views/skills/Skills.astro";
import Works from "@views/works/Works.astro";
---

<div class="hidden lg:grid lg:grid-cols-5 lg:gap-x-4 lg:h-full">
  <div class="flex flex-col col-span-2 bg-slate-900 overflow-auto divide-y-2">
    <Basics />
    <Skills />
    <Languages />
    <Interests />
  </div>
  <div class="grid grid-rows-4 gap-y-4 col-span-3 overflow-hidden">
    <div class="row-span-3 border">
      <Works />
    </div>
    <div class="">
      <Educations />
    </div>
  </div>
</div>
