---
import type { IndicatorPositionType } from "@components/carousel/types";
import type { CarouselIndicatorsProps } from "@components/carousel/props";

type Props = CarouselIndicatorsProps;

const { indicator } = Astro.props;

const indicatorPositionClassMap = new Map<IndicatorPositionType, string>([
  ["top", "top-0 left-1/2 -translate-x-1/2 gap-x-2"],
  ["bottom", "bottom-0 left-1/2 -translate-x-1/2 gap-x-2"],
  ["left", "left-0 top-1/2 -translate-y-1/2 flex-col gap-y-2"],
  ["right", "right-0 top-1/2 -translate-y-1/2 flex-col gap-y-2"],
]);
---

<ul
  class={`absolute flex ${
    typeof indicator !== "boolean"
      ? indicatorPositionClassMap.get(indicator)
      : indicatorPositionClassMap.get("bottom")
  } p-4`}
>
  <slot>
    <template x-for="(indicator, index) in items">
      <li>
        <button
          x-on:click="setActiveIndex(Number(index))"
          x-bind:disabled="isActive(Number(index))"
          class="cursor-pointer p-2 rounded-full btn"></button>
      </li>
    </template>
  </slot>
</ul>
