---
import Header from "@views/header/Header.astro";
import RootLayout from "./RootLayout.astro";
import LeftSidebar from "@views/navigation/LeftSidebar.astro";
import RightSidebar from "@views/navigation/RightSidebar.astro";

const { content = {} } = Astro.props;
const currentPage = new URL(Astro.request.url).pathname;
---

<RootLayout {content}>
  <Header {currentPage} />
  <div class="flex lg:grid lg:grid-cols-4 overflow-y-hidden relative">
    <aside
      title="Site Navigation"
      class="col-span-1 sticky top-0 py-6 overflow-hidden grow hidden lg:flex"
    >
      <div class="ml-auto overflow-y-auto">
        <LeftSidebar {currentPage} />
      </div>
    </aside>
    <main
      x-ref="main"
      x-effect={`window.addEventListener('load', event => {
        if (currentUrl.hash) {
          const hashElement = document.querySelector(currentUrl.hash)
          hashElement.scrollIntoView();
        }
      })`}
      class="py-4 px-8 w-full lg:col-span-2 overflow-y-auto scroll-smooth"
    >
      <slot />
    </main>
    <aside
      title="Site Table of Contents"
      class="col-span-1 sticky top-0 pt-6 grow hidden lg:flex"
    >
      <RightSidebar />
    </aside>
  </div>
</RootLayout>
